<script type="text/javascript" src="lib/app/all.js"></script>

<br><br>
		<div id="form_main" class="px1000 clearfix">
		<div class="form_main_grjg_xx">
			<span id="form_main_gr">登录</span>
		</div>
		<div>
			<div id="login1" class="left_form fl" >
				<form>
					<div class="form_lb">
						<lable>手机/邮箱:</lable>
						<input type="text" class="form-control" value="请输入手机/邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入手机/邮箱';}">
					</div>
					<div class="form_lb clearfix">
							<lable>密码:</lable>
							<input type="text" class="form-control" value="请输入密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入密码';}">
					</div>
					
				</form>
				<div class="form_lb cheb_yes">
					<p><a href=""><img src="images/login_btn_1.jpg"></a></p>
				</div>
			</div>

		
		<div class="right_pic fl" >
			<div class="l_acc_dl">
				<span>已有帐号？<a href=""><span style="color:#29A7E1;">立即登录</span></a></span>
			</div>
			<p><img src="images/right_bg.jpg"></p>
		</div>
	</div>
